@import 'variable'

// 配置
@import 'settings'

// reset
@import 'customize'

// 方法集
@import 'utilities'

// element全局
@import 'elementRe'

// element全局--深色
@import 'elementReDark'
// 工具类
@import 'helpers'

// 全局公用样式
@import 'panel'

// 公用颜色
@import 'colors'

// 切换样式
@import 'mixinHs'
@import 'mixinXym'




// 消除数据初始化闪烁
[v-cloak]
  display none
