// 配置
@import 'settings'

// reset
@import 'customize'

// 方法集
@import 'utilities'

// element全局
@import 'elementRe'

// 颜色类
@import 'helpers'

// 全局公用样式
@import 'panel'

// 公用颜色
@import 'colors'


// 消除数据初始化闪烁
[v-cloak]
  display none
