
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 0.2857142857142857rem;
    height: 0.2857142857142857rem;
    background: rgba(13,186,127,0.20);
    border: 1px solid #0DBA7F;
    border-radius: 8px;
  // display:none
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
/* -webkit-box-shadow: inset 0 0 0.42857142857142855rem rgba(0,0,0,0.3);
  */
   background: #070709;
    border-radius: 8px;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  // border-radius: 1.4285714285714286rem;
/* -webkit-box-shadow: inset 0 0 0.42857142857142855rem rgba(0,0,0,.3);
  */
    transform: scale(3, 1)
    background: rgba(13,186,127,0.20);
    border: 1px solid #0DBA7F;
    border-radius: 8px;
}
// 滚动条 end

// 菜单栏
.el-menu
    border-right: solid 0px #e6e6e6;
.el-row {
    margin-bottom: 20px;
    &:last-child {
        margin-bottom: 0;
    }
}
.el-col {
    border-radius: 4px;
}
.bg-purple-dark {
    background: #99a9bf;
}
.bg-purple {
    background: #d3dce6;
}
.bg-purple-light {
    background: #e5e9f2;
}
.grid-content {
    border-radius: 14px;
    min-height: 36px;
}
.row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
}



    

