
/*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
::-webkit-scrollbar {
    width: 0.2857142857142857rem;
    height: 0.2857142857142857rem;
    background: #C2C7CC;
    border-radius: 2px;
  // display:none
}
/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
/* -webkit-box-shadow: inset 0 0 0.42857142857142855rem rgba(0,0,0,0.3);
  */
   background: #fff;
    border-radius: 8px;
}
/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  // border-radius: 1.4285714285714286rem;
/* -webkit-box-shadow: inset 0 0 0.42857142857142855rem rgba(0,0,0,.3);
  */
    transform: scale(3, 1)
    background: #C2C7CC;
    border-radius: 2px;
}
// 滚动条 end

// tab
.el-tabs__header
    background: #fff;
    padding: 0 20px;
    margin: 0 0 25px;


