// ==================================================
// 助手类
// ==================================================

// 隐藏/显示元素
.hidden
  display none !important
.show
  display block !important

// 不可见
.invisible
  visibility hidden

// 浮动
.fl
  float left !important

.fr
  float right !important

// 清除浮动
.clearfix
  clearfix()

// 文本隐藏
.hide-text
  hide-text()

// 对齐
.tal
  text-align left !important
td.tac
  padding 0!important
.tac
  text-align center !important

.tar
  text-align right !important

// 宽度
for i in 3..20
  .w{i}0
    width unit(i, "0px") !important

.textarea-lg
  height 240px !important

// 外间距
for i in 0 5 10 20 30 40
  .mt{i}
    margin-top unit(i, px) !important
  .mr{i}
    margin-right unit(i, px) !important
  .mb{i}
    margin-bottom unit(i, px) !important
  .ml{i}
    margin-left unit(i, px) !important
