/*深色版；1*/

.theme2 {
  .ant-layout{
    background-color: $background-color-themesec-dark!important
  }
  .main-wrap .panel{
    -webkit-box-shadow: none!important
    box-shadow: none!important
  }
  .the-header {
    background-color: $background-color-theme-dark!important
    box-shadow: 0 1px 4px 0 #191919!important;
  }
  
  .main-wrap .panel {
    background: $background-color-theme-dark
  }
  .main-wrap .title .label1 {
    color: $font-color-theme-dark;
  }
  .splitBar{
    background: rgba(26,27,31,0.40);
  }
  .main-wrap .title{
    border-bottom: 1px solid $border-color-dark;
  }
  .main-wrap .subSelect{
    border-bottom: 1px dashed $border-color-dark;
  }
  .bread-nav{
    border-bottom: 1px solid $border-color-dark!important; 
    background:$background-color-theme-dark!important;
    span{
      color: $font-color-themesec-dark!important;
    }
    span.on{
      color: $font-color-theme-dark!important;
    }
  }
  .btn-group span{
    color: $font-color-theme-dark;
  }

  
}

  