
/*深色版；1*/

.theme2 {
  // 滚动条
  ::-webkit-scrollbar-track{
    background: $background-color-theme-dark !important;
  }

  // 通用/组件部分
  .det-heading{
    background: $background-color-theme-dark !important;
  }
  .dhi-title{
    color: $color-white-dark !important;
  }
  .dhi-ul li{
    color: $color-white-dark !important;
  }
  .dhi-ul li span{
    color: $font-color-themesec-dark !important;    
  }
  .lsearch-input{
    background: $input-bg-color-dark !important;
    border: 1px solid $input-bg-color-dark !important;
    color: $color-white-dark !important;
  }
  .lsearch-submit{
    background-color: #313339 !important;
  }
  .code-clear{
    background-color: #313339 !important;    
  }


  // 监测异常详情
  .det-warn,#DetWarnListComp{
    background: $background-color-theme-dark !important;
  }
  .det-warn-title-h{
    color: $color-white-dark !important;
  }
  .back-realtime{
    color: $font-color-themesec-dark !important;
  }
  .dwlb-p h4{
    color: $font-color-theme-dark !important;
  }
  .dwlb-p p{
    color: $font-color-themesec-dark !important;
  }
  .dwlb-rate{
    color: $font-color-theme-dark !important;
  }
  .dwlb-rate.no-deal{
    color: #fa4f43 !important;
  }
  .det-mid-diagnose,.diagnose-item{
    background: $background-color-theme-dark !important;
  }
  .didt-h3{
    color: $font-color-theme-dark !important;
  }
  .diagnose-item-detail{
    border-bottom: 1px dashed $border-color-dark !important;
  }
  .didt-date,.diagnose-item-detail-p{
    color: $font-color-themesec-dark !important;
  }
  .dcc-type-block{
    background: $input-bg-color-dark !important;
  }
  .dccb-data-p1{
    color: $font-color-theme-dark !important;
  }
  .dccb-data-p1 span{
    color: $font-color-theme-dark !important;
  }
  .dccb-data-p2{
    color: $font-color-themesec-dark !important;
  }
  .diagnose-item-subTitle-p{
    color: $font-color-theme-dark !important;    
  }
  .diagnose-item-subTitle-span{
    background: $input-bg-color-dark !important;
    color: $font-color-themesec-dark !important;
  }
  .dnRunning-box-p{
    color: $color-white-dark !important;        
  }
  .dnStat-top-li-title{
    color: $font-color-themesec-dark !important;
  }
  .dnStat-top-li-p{
    color: $font-color-theme-dark !important;    
  }
  .dnStat-bot-box-title{
    color: $font-color-themesec-dark !important;
  }
  .dnStat-bot-box-data{
    color: $font-color-theme-dark !important;        
  }
  .dnStat-bot-box-per{
    color: $font-color-theme-dark !important;            
  }
  .det-right,#DetChartComp{
    background: $background-color-theme-dark !important;
  }
  .det-ca-menu{
    background-image: linear-gradient(90deg, #26282E 9%, #1E2024 81%, #191919 100%) !important;
  }
  .detcm-box-p{
    color: $font-color-themesec-dark !important;
  }
  .dcc-item-title{
    color: $font-color-theme-dark !important;            
  }
  .det-mid-log{
    background: $background-color-theme-dark !important;
  }
  .dm-go-detail{
    color: $font-color-themesec-dark !important;
  }
  .det-mid-log .det-warn-title{
    border-bottom: 1px solid $border-color-dark !important;
  }
  .det-warn-choose{
    background: rgba(255,255,255,0.03) !important;
  }
  .dwc-box .el-range-input{
    background: none !important;
    color: $font-color-theme-dark !important;            
  }
  .dwc-box .el-date-editor .el-range-separator{
    color: $font-color-theme-dark !important;
    line-height 24px !important;                
  }
  .dwc-box .el-input__inner{
    border: none !important;
  }
  .dwc-box .el-input__inner::-webkit-input-placeholder,.dwc-box .el-range-input::-webkit-input-placeholder {
    color: $font-color-themetri-dark !important;
  }
  

    
}