// 适配
// @media screen and (max-width: 1910px) {

//   #MapContainer{
//     width: 30% !important;
//   }
//   .right{
//     left: 30% !important;
//   }
//   #chartbar1,#chartbar2,#chartbar3,#chartbar4,#chartbar6,#chartpie,#chartpie2,#chartpie3,#chartpie4{
//     height: 170px !important;
//   }
// //   #chartpie,#chartpie2,#chartpie3,#chartpie4{
// //     margin-top: -20px;
// //   }
//     #chartpie{
//         margin-top: -20px;
//     }
//   #chartbar5{
//     height: 220px !important;
//   }

//   .charts{
//     padding: 24px 12px 5px 70px;
//   }
//   .el-col-16{
//     width: 58% !important;
//   }
//   .el-col-8{
//     width: 41% !important;
//   }
//   .chart_Total_title.chart_Total_title_x{
//     padding-bottom: 60px;
//   }
//   .chart-x-title{
//     position: absolute;
//     bottom: 0;
//     left: 0;
//     display: block !important;
//     overflow: hidden;
//   }
//   .chart-x-title .chart_title{
//     display: block;
//     float: left;
//   }
//   .chart-x-title .chart_title .unit{
//     display: block !important;
//     margin-left: 0px !important;
//   }
  
// }
// .chart_Total_title{
//   position: relative;
// }
// .chart-x-title{
//   display: inline-block;
// }
// .charts .chart-x-title .chart_title{
//   font-size: 16px;
// }
// div{
//   outline: none;
// }
// @media screen and (max-width: 1340px) {
//     .main-wrap {
//         min-width 1340px;
//     }
//     .right {
//         width 961px !important;
//     }
// }
.main-wrap
    .right
        absolute left 643px top 80px bottom 0 right 0
        // background #1B1B23
        overflow: auto;
        padding 30px 10px 0 10px
        box-sizing: border-box;
        #chartbar1
              // size 100% 220px
              width 100%
              height 220px
          #chartbar2
              size 100% 235px
          #chartpie
              size: 100% 198px
          #chartbar3
              size 100% 230px
          #chartpie2
              size: 100% 235px
          #lineChart
              size: 100% 235px
          #lineChart2
              size: 100% 235px  
          #chartbar4
              size 100% 230px
          #chartpie3
              size: 100% 235px
          #chartbar5
              size 100% 246px
          #lineChart3,#lineChart4,#lineChart5,#lineChart6,#lineChart7,#lineChart8,#lineChart9,#lineChart10
              size: 100% 235px
          #lineChart11,#lineChart12,#lineChart13,#lineChart14,#lineChart15,#lineChart16,#lineChart17,#lineChart18
              size: 100% 195px
          #lineChart19
              size: 100% 205px
    // 第一个summary1
    .summary1
        .summaryItem
            .aside-border-line {
                display: inline-block;
                width: 100%;
                height: 2px;
                border-bottom: 2px solid #18181E;
                float: left;
                margin: 12px 0
            }
    // 第二个summary
    .summary2{
        height 327px
        padding 0!important
        .rect{
            size 43px 162px
            float left
            display inline-block
            background: rgba(102,102,127,0.17);
            box-shadow: 0 21px 20px -14px rgba(10,23,63,0.15);
        }
        .summaryItem{
            float left
            margin 0
            padding: 30px 0 20px 49px
            width 160px
            box-sizing border-box
        }
        .border-line{
            display: inline-block;
            size : 65% 2px;
            border-bottom: 1px solid rgba(102,102,127,0.45);
            // float: left;
            margin: 10px 0
        }
        .iconImg{
            size 47px
            border-radius 50%
            display: inline-block;
            
        }
        .iconImg1{
            background: url('../assets/images/hs/1d.png')
            absolute top 56px left 21px
        }
        .iconImg2{
            background: url('../assets/images/hs/c70.png')
            absolute top 223px left 21px
        }
        .iconImg3{
            background: url('../assets/images/hs/b63.png')
            absolute top 60px left 21px
        }
        .iconImg4{
            background: url('../assets/images/hs/60e.png')
            absolute top 224px left 21px
        }
    }
 
    .summaryItemList
        .info-label
            margin-bottom 10px

    .spiltBar{
        height 12px;
        background: #111116;
        // display inline-block
    }
    .proportionBar
        size 16px 397px
        display inline-block
        background #5A39D5
        .proportionBar_item
            width 100%
            padding 0
            margin 0
        :nth-child(1)
            background: #5A39D5!important;
        :nth-child(2)
            background: #8423E2!important;
        :nth-child(3)
            background: #E22340;
        :nth-child(4)
            background: #F56F6F;
        :nth-child(5)
            // background: #CB500F;
            background: #FEC101;
        :nth-child(6)
            // background: #FB7027;
            background: #F9D562;
        :nth-child(7)
            // background: #FEC101;
            background: #CB500F;
        :nth-child(8)
            // background: #F9D562;
            background: #FE7D01;
    .proportionInfo
        size 78px 397px
        display inline-block
        absolute top 0 right -42px
        .proportionInfo_item
            position relative
            height 12.8%
            vertical-align middle
            line-height 20px
            .info-number
                line-height 20px!important
            .info-label
                font-size 12px
            .line
                size 28px 1px
                display inline-block
                background: #5A39D5;
                absolute top 18px left -46px
            .circle
                size 8px
                display inline-block
                background: #FEC101;
                border-radius 50%
                absolute top 15px left -25px
            .circle:nth-child(1)
                background: red;
.search
  float right
  font-size: 0;
  .search_input
    border: 1px solid rgba(56,61,80,0.60);
    border-radius: 16.5px 0 0 16.5px;
    size 194px 28px
    line-height: 28px
    background: transparent;
    color: #fff;
    font-size 14px
    display: inline-block
    padding 0 16px
    box-sizing: border-box;
    vertical-align: top
  .search_btn
    background: url('../assets/images/hs/search.png') no-repeat #0DBA7F center;
    border-radius: 0 16.5px 16.5px 0;
    size 32px 28px
    cursor pointer
    display: inline-block
// 修改默认input placeholder的样式（颜色，字体）
:-moz-placeholder {
  color: #66667F;
  opacity: 1;
}
::-moz-placeholder {
  color: #66667F;
  opacity: 1;
}
input:-ms-input-placeholder {
  color: #66667F;
  opacity: 1;
}
input::-webkit-input-placeholder {
  color: #66667F;
  opacity: 1;
} 
// 修改默认input placeholder的样式（颜色，字体） end---