

.main-wrap{
  letter-spacing: 0.03px;
  box-sizing: border-box;
  overflow: auto;
  box-sizing: border-box;
  padding: 0 10px;
  // 此为一行
  .row{
    position: relative;
    width: 100%;
  }
  // 面板公用类
  .panel {
    background: #fff;
    box-shadow: 0 8px 20px -12px rgba(66,114,255,0.30);
    border-radius: 8px;
    padding: 0 48px 20px;
    box-sizing: border-box;
    margin: 0 10px 20px;
    position: relative;
    z-index 99
  }

  //页面标题
  .title{
    background: transparent;
    padding: 0;
    margin: 0 10px;
    height: 146px;
    vertical-align: middle;
    padding-top: 52px;
    box-sizing: border-box;
    position relative
    
    .label1{
      color: #2b2e33;
      font-size: 24px;
    }
      
    .label2{
      color: #959698;
    }
  }
  
}
@media screen and (max-width: 1440px){
  .main-wrap {
    padding: 0 10px;
  }
}
