// ==================================================
// 基础配置
// ==================================================

// 灰度色
// ------------------------------
// black = #000
// gray-darker = #020202
// //body 字体基础色
// gray-dark = #000
// //body 字体基础色浅色
// gray-light1 = #959698

// //弹窗取消字体基础色
// gray-cancel = #C4C4C4

// gray = #666
// gray-light = #999
// gray-lighter = #ccc
// white = #FFF

// // 彩色
// // ------------------------------
// orange = #D75730
// red = #C0252E
// //编辑按钮
// green = #22BC74
// blue = #536ede
// //公用黄色
// yellow = #E4B445


// 链接色
// ------------------------------
// 正常状态
link-color = $font-color-theme

highlight-link-color = $color-main
link-color = $font-color-theme


// 排版
// ------------------------------

// 字体集
arial = Arial, Tahoma, "Helvetica Neue", Helvetica, sans-serif
tahoma = Tahoma, "Helvetica Neue", Helvetica, Arial, sans-serif
helvetica-neue = "Helvetica Neue", HelveticaNeue, Helvetica, Arial, sans-serif
helvetica = "Helvetica Neue", Helvetica, Arial, sans-serif
georgia = Georgia, Cambria, "Times New Roman", Times, serif
times = "Times New Roman", Times, serif
// yahei = "Hiragino Sans GB", "Microsoft Yahei", "SimSun"
yahei = "Microsoft YaHei", "PingFangSC-Regular", "SimSun"
heiti = "SimHei"
songti = "SimSun"

// 字体设置
browser-default-font-size = 10px
font-stack = yahei
font-color = #000
default-line-height = 1.5

// 栅格列数
grid-columns = 24

// 表单
// -----------------------------
// 默认边框颜色
// default-border-color = #e6e6e6

// breakpoints = 480 640 800 960 1080

// 等比例缩放
responsive = true
