//颜色定义规范
$background-color-theme = #fff;//背景主题颜色默认
$background-color-themesec = #F1F5F7;//背景次要主题颜色

$color-white=#fff // 白色
$color-main=#4272FF // 主色调-蓝色
$color-red=#FA4F43 // 红色
$color-yellow =#FFA90B // 黄色
$color-purple=#8025FD // 紫色
$color-green =#4BCC8F // 绿色

$font-color-theme = #34414C;//字体主题颜色默认
$font-color-themesec = #7E8A95; // 字体次要主题颜色1





// -------------------------深色版---------深色版------------深色版--------------深色版-----------------------------------

//颜色定义规范
$background-color-theme-dark = #26282E;//背景主题颜色默认
$background-color-themesec-dark = #1A1B1F;//背景次要主题颜色

$color-white-dark = #fff // 白色1
$color-main-dark = #4C74E9 // 主色调-蓝色
$color-red-dark = #FA4F43 //红色
$color-yellow-dark =#FFC60B // 黄色
$color-purple-dark =#9C71D8 //紫色
$color-green-dark =#76DDAC // 绿色

$font-color-theme-dark = rgba(255,255,255,0.85);//字体主题颜色默认
$font-color-themesec-dark = rgba(255,255,255,0.65); // 字体次要主题颜色1
$font-color-themetri-dark = rgba(255,255,255,0.3); // 字体次要主题颜色2

$input-bg-color-dark = rgba(255,255,255,0.05); //输入框背景色

$border-color-dark = rgba(255,255,255,0.1); //边框色
